Error in line folding algorithm

According to [Section 3.1 of RFC-5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.1) line:  
>> Lines of text SHOULD NOT be longer than 75 **octets**, excluding the line break.

Octet is not a character in `C#` cause of `C# char` is 2 byte (16 bit = 2 octets) length, but 1 octet is 1 byte.  
So, you must firstly get the byte representation of a string, say with utf8 encoder, after that it's allowed to do the folding.  
You can also pick up another strategy except one you choose now.
